body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(8, 8, 66);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  background-image: url("./images/log.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: right;
}

.sub {
  background-color: rgb(196, 193, 193, .65);
  width: 50%;
  border-radius: 5px;
  top: 30%;

}

h1 {
  text-align: center;
}


h2 {
  margin-left: 15px;
}

label {
  margin-left: 15px;
}

input {
  height: 20px;
  width: 170px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  margin-left: 7px;
}

table {
  width: 100%;
  padding-left: 15px;
}

.td, th {
text-align: left;
}

button {
  border: none;
  border-radius: 5px;
  height: 30px;
  background-color: rgb(201, 138, 109);
  margin-left: 10px;
  padding: 5px 20px;
  font-weight: 500;

}

button:hover {
  background-color: rgb(177, 123, 98)
}
.delete {
  color: maroon;

}